{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Student Assesement" %} {% endblock title %}
{% block content%}
    <div class="card">
        <div class="card-header">
            <h2>{{supervisor_assesement.assignement_upon.trainee.first_name}} {{supervisor_assesement.assignement_upon.trainee.last_name}} assesment</h2>
        </div>
        <div class="card-body">
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Register Number: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.assignement_upon.trainee.register_number}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Department: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.assignement_upon.trainee.department}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Position: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.assignement_upon.trainee_position.title}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Carrier: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.assignement_upon.trainee_position.official_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Job ID: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.assignement_upon.trainee_position.job_code}}:{{supervisor_assesement.assignement_upon.trainee_position.no_id}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Created at: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.date}} </span>
            </div>
            <hr>
            <h2>Comments: </h2>
            <div style="margin-bottom: 1rem; margin-top: 1rem;"> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.comments}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Grade: </b> 
                <span style="font-size: 1.1rem;" > {{supervisor_assesement.grade}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Assesment File: </b> 
                <span style="font-size: 1.1rem;" > <a href="{{supervisor_assesement.assesment_file.url}}">{{supervisor_assesement.assesment_file}}</a></span>
            </div>
            {% if supervisor_assesement %}
              {% if supervisor_assesement.finalized %}
                    <div style="margin-bottom: 1rem;"> 
                        <b style="font-size: 1.3rem; "> Finalized: </b> 
                        <span style="font-size: 1.1rem;" > YES </span>
                    </div>
               {% else %}
                    <div style="margin-bottom: 1rem;"> 
                        <button class="btn btn-lg btn-success mr-4"><a class="text-white"  href="/supervisor/assignments/{{supervisor_assesement.assignement_upon.id}}/update-assesment">Update Assesement</a></button>
                    </div>
               {% endif %}
            {% else %}
                <div style="margin-bottom: 1rem;"> 
                    <button class="btn btn-lg btn-success mr-4"><a class="text-white"  href="/supervisor/assignments/{{supervisor_assesement.assignement_upon.id}}/create-assesment">Create Assesement</a></button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}