{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Carrier's  Assesement" %} {% endblock title %}
{% block content%}
    <div class="card">
        <div class="card-header">
            <h2>{{carrier_assesement.assignement_upon.trainee.first_name}} {{carrier_assesement.assignement_upon.trainee.last_name}} assesment by carrier</h2>
        </div>
        <div class="card-body">
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Register Number: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.trainee.register_number}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Department: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.trainee.department}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Position: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.trainee_position.title}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Carrier: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.trainee_position.carrier.official_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Job ID: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.trainee_position.job_code}}:{{carrier_assesement.assignement_upon.trainee_position.no_id}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Supervisor: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.supervisor.first_name}} {{carrier_assesement.assignement_upon.supervisor.last_name}} </span>
            </div> 
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Supervisor Register Number: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.assignement_upon.supervisor.register_number}}</span>
            </div> 
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Created at: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.date}} </span>
            </div>
            <hr>
            <h2>Comments: </h2>
            <div style="margin-bottom: 1rem; margin-top: 1rem;"> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.comments}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Grade: </b> 
                <span style="font-size: 1.1rem;" > {{carrier_assesement.grade}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Assesment File: </b> 
                <span style="font-size: 1.1rem;" > <a href="{{carrier_assesement.assesment_file.url}}">{{carrier_assesement.assesment_file}}</a></span>
            </div>
            {% if carrier_assesement.finalized == True %}
                <div style="margin-bottom: 1rem;"> 
                    <b style="font-size: 1.3rem; "> Finalized: </b> 
                    <span style="font-size: 1.1rem;" > YES </span>
                </div>
            {% else %}
                <div style="margin-bottom: 1rem;"> 
                    <button class="btn btn-lg btn-success mr-4"><a class="text-white" href="/secretary/assignments/carrier_assesment/{{carrier_assesement.id}}/finalize">Finalize</a></button>
                    <button class="btn btn-lg btn-danger"><a class="text-white" href="/secretary/assignments/carrier_assesment/{{carrier_assesement.id}}/discard">Delete</a></button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}