{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Trainee Position" %} {% endblock title %}
{% block content%}
    <div class="card">
        <div class="card-header">
            <h2>Position: {{trainee_position.title}} </h2>
        </div>
        <div class="card-body">
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Position: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.title}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Supervisor: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.supervisor}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Created at: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.created}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Carrier: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.carrier.official_name}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Job ID: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.job_code}}:{{trainee_position.no_id}} </span>
            </div>
            <div style="margin-bottom: 1rem;"> 
                <b style="font-size: 1.3rem; "> Finalized: </b> 
                <span style="font-size: 1.1rem;" > {{trainee_position.finalized}} </span>
            </div>
            <hr>
            <h2>Description: </h2>
            <div style="margin-bottom: 1rem; margin-top: 1rem;"> 
                <span style="font-size: 1.1rem;" > {{trainee_position.description}} </span>
            </div>
        </div>
    </div>
{% endblock content %}
