{% load static %}
<footer class="page-footer font-small bg-info mt-auto">
    <div class="footer-copyright-sm text-center text-white py-1 mt-3">
      <h6>Ιnternship System App:
      <a class="text-white h6" href="https://intenships.hua.gr">Γραφείο Διασύνδεσης</a>
     </h6>
    </div>
    <div class="footer-copyright-sm text-center text-white py-1 mb-2">
      <h6>© 2022 Copyright:
      <a class="text-white h6" href="https://hua.gr">  Harokopio University of Athens</a>
      </h6>
    </div>
</footer>
<div class="container bg-white mt-2">
  <div class="footer-copyright-sm text-center text-info py-1">
    <h6 class="text-dark">Implemented by DIT HUA:
    <a class="text-dark h6" href="https://dit.hua.gr"> <img src="/static/dit-logo.png" height="32" width="72" onerror="this.onerror=null; this.src='favicon.svg'"/>
    </h6>
  </div>
</div>